<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fuel Price Tracker</title>
    <!-- Include CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <h1>Fuel Price Tracker</h1>
    <!-- header content -->
</header>

<main>
    <!-- Gasoline table -->
    <table>
        <caption>Gasoline fuels</caption>
        <thead>
        <tr>
            <th>Gas station</th>
            <th>Fuel name</th>
            <th>Price</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="station : ${gasStations}">
            <th:block th:each="fuel : ${station.fuels}">
                <tr th:if="${fuel.type == fuelTypes.get(0)}">
                    <td th:text="${station.name}"></td>
                    <td th:text="${fuel.name}"></td>
                    <td th:text="${fuel.price}"></td>
                    <td th:text="${fuel.lastUpdated}"></td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>

    <!-- Diesel table -->
    <table>
        <caption>Diesel fuels</caption>
        <thead>
        <tr>
            <th>Gas station</th>
            <th>Fuel name</th>
            <th>Price</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="station : ${gasStations}">
            <th:block th:each="fuel : ${station.fuels}">
                <tr th:if="${fuel.type == fuelTypes.get(1)}">
                    <td th:text="${station.name}"></td>
                    <td th:text="${fuel.name}"></td>
                    <td th:text="${fuel.price}"></td>
                    <td th:text="${fuel.lastUpdated}"></td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>

</main>

<footer>
    <a href="https://github.com/Juninger/FuelPriceTracker">GitHub</a>
</footer>

<!-- Include JavaScript -->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
